body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 2px solid white;
  background-image: url('assets/img_1.png');
  background-size: cover;
}
